Repository edisonCheca/INNOVAPAZ: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

fix(auth): agregar tipos explícitos para Firebase authv1
  apps/website-erp-marketing/src/configs/firebaseConfig.ts
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

refactor(config): solucacion de cors
  apps/app-erp/package.json
  apps/app-erp/tsconfig.node.json
  apps/app-erp/vite.config.ts
  apps/website-corporate/src/pages/Home/index.tsx
  apps/website-corporate/tsconfig.node.json
  apps/website-corporate/vite.config.ts
  apps/website-erp-marketing/src/components/layout/CommentSection.tsx
  apps/website-erp-marketing/src/context/UserContext.tsx
  apps/website-erp-marketing/src/pages/LoginPage.tsx
  apps/website-erp-marketing/src/pages/RegisterPage.tsx
  apps/website-erp-marketing/vercel.json
  apps/website-erp-marketing/vite.config.ts
  vercel.json
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

refactor(config): sincronizacion de las librerias
  pnpm-lock.yaml
Due: prettier --config .prettierc --write

refactor(config): implementando la ruta de erp marketing
  apps/website-corporate/src/pages/Services/index.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

refactor(config): cambiando la rutas de website-corporate
  apps/website-corporate/src/App.tsx
  apps/website-corporate/src/index.css
  apps/website-corporate/src/main.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

refactor(config): implementacion del icono de la pagina
  apps/website-corporate/index.html
Due: none

refactor(auth): mejora en los inputs de login y de register
  apps/website-erp-marketing/src/pages/LoginPage.tsx
  apps/website-erp-marketing/src/pages/RegisterPage.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

refactor(config): correciones de cerrar sesion
  apps/website-erp-marketing/src/components/layout/MobileMenu.tsx
  apps/website-erp-marketing/src/pages/LoginPage.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

style(config): correciones de importaciones de home page
  apps/website-erp-marketing/src/components/common/ContactIllustration.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

style(config): mejora en las imagenes del equipo de desarrollo
  apps/website-corporate/src/pages/Home/index.tsx
Due: prettier --config .prettierc --write, eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**'

Path conditions:
  prettier --config .prettierc --write: (((any of: apps/**/*.{js,jsx,ts,tsx}) or (any of: apps/**/*.{json,css})) or (any of: *.{md,yaml,yml})) or (any of: docs/**/*.md)
  eslint --fix --ignore-pattern '**/.vite/**' --ignore-pattern '**/dist/**' --ignore-pattern '**/node_modules/**': any of: apps/**/*.{js,jsx,ts,tsx}
