Repository edisonCheca/INNOVAPAZ: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierc --write, eslint --fix

refactor(marketing): reorganización de estructura y creación de nuevos componentes
  package-lock.json
Due: none

feat(pages): eliminar referencias a InstitutionalHeader y ajustar rutas para enfoque en innovapaz
  apps/website-erp-marketing/src/App.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(marketing): scroll automático a PlatformFeatures desde el botón RevisaNusSer
  apps/website-erp-marketing/src/components/layout/BannerSection.tsx
  apps/website-erp-marketing/src/components/layout/PlatformFeatures.tsx
Due: prettier --config .prettierc --write, eslint --fix

fix(corporate): arreglando navegación y estilos del sitio web
  apps/website-corporate/README.md
  apps/website-corporate/index.html
  apps/website-corporate/package.json
  apps/website-corporate/src/App.tsx
  apps/website-corporate/src/components/ErrorBoundary/ErrorBoundary.module.css
  apps/website-corporate/src/components/ErrorBoundary/index.tsx
  apps/website-corporate/src/components/Layout/Footer/Footer.module.css
  apps/website-corporate/src/components/Layout/Footer/index.tsx
  apps/website-corporate/src/components/Layout/Header/Header.module.css
  apps/website-corporate/src/components/Layout/Header/index.tsx
  apps/website-corporate/src/components/Layout/Layout.module.css
  apps/website-corporate/src/components/Layout/index.tsx
  apps/website-corporate/src/components/UI/Button.module.css
  apps/website-corporate/src/components/UI/Button.tsx
  apps/website-corporate/src/components/UI/SEO.tsx
  apps/website-corporate/src/hooks/index.ts
  apps/website-corporate/src/hooks/useFormValidation.ts
  apps/website-corporate/src/hooks/useOutsideClick.ts
  apps/website-corporate/src/hooks/useScrollTo.ts
  apps/website-corporate/src/index.css
  apps/website-corporate/src/main.tsx
  apps/website-corporate/src/pages/Contact/Contact.module.css
  apps/website-corporate/src/pages/Contact/index.tsx
  apps/website-corporate/src/pages/Home/Home.module.css
  apps/website-corporate/src/pages/Home/index.tsx
  apps/website-corporate/src/pages/PrivacyPolicy/PrivacyPolicy.module.css
  apps/website-corporate/src/pages/PrivacyPolicy/index.tsx
  apps/website-corporate/src/pages/Services/Services.module.css
  apps/website-corporate/src/pages/Services/index.tsx
  apps/website-corporate/src/pages/TermsOfService/TermsOfService.module.css
  apps/website-corporate/src/pages/TermsOfService/index.tsx
  apps/website-corporate/src/pages/WhyChooseUs/WhyChooseUs.module.css
  apps/website-corporate/src/pages/WhyChooseUs/index.tsx
  apps/website-corporate/src/styles/reset.css
  apps/website-corporate/src/styles/variables.css
  apps/website-corporate/src/types/index.ts
  pnpm-lock.yaml
Due: prettier --config .prettierc --write, eslint --fix

fix(styles): arreglar bloque CSS sin cerrar en WhyChooseUs
  apps/website-corporate/src/pages/WhyChooseUs/WhyChooseUs.module.css
Due: prettier --config .prettierc --write

feat(pages): actualizar equipo directivo con miembros reales
  apps/website-corporate/src/pages/Home/index.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(pages): agregar imagen de fondo en sección CTA de Contact
  apps/website-corporate/src/pages/Contact/Contact.module.css
  apps/website-corporate/src/pages/Contact/index.tsx
Due: prettier --config .prettierc --write, eslint --fix

style(corporate): mejorar estilos globales y de páginas
  apps/website-corporate/src/index.css
  apps/website-corporate/src/pages/Home/Home.module.css
  apps/website-corporate/src/pages/Services/Services.module.css
Due: prettier --config .prettierc --write

feat(pages): actualizar componentes Services y WhyChooseUs
  apps/website-corporate/src/pages/Services/index.tsx
  apps/website-corporate/src/pages/WhyChooseUs/index.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(components): agregar componentes UI OptimizedImage y DecorativeImageGallery
  apps/website-corporate/src/components/UI/DecorativeImageGallery.tsx
  apps/website-corporate/src/components/UI/OptimizedImage.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(assets): agregar colección completa de imágenes corporativas
  apps/website-corporate/public/images/backgrounds/office-building.jpg
  apps/website-corporate/public/images/hero/contact-hero.jpg
  apps/website-corporate/public/images/hero/services-hero.jpg
  apps/website-corporate/public/images/hero/team-collaboration.jpg
  apps/website-corporate/public/images/hero/why-choose-us.jpg
  apps/website-corporate/public/images/office-life/collaboration.jpg
  apps/website-corporate/public/images/office-life/modern-office.jpg
  apps/website-corporate/public/images/office-life/startup-vibes.jpg
  apps/website-corporate/public/images/office-life/workplace-discussion.jpg
  apps/website-corporate/public/images/process/agile-development.jpg
  apps/website-corporate/public/images/process/team-meeting.jpg
  apps/website-corporate/public/images/team-photos/professional-man-2.jpg
  apps/website-corporate/public/images/team-photos/professional-man.jpg
  apps/website-corporate/public/images/team-photos/professional-woman.jpg
  apps/website-corporate/public/images/team-photos/team-working.jpg
  apps/website-corporate/public/images/technology/coding-screen.jpg
  apps/website-corporate/public/images/technology/data-analytics.jpg
  apps/website-corporate/public/images/technology/developer-working.jpg
  apps/website-corporate/public/images/technology/erp-dashboard.jpg
  apps/website-corporate/public/images/technology/innovation.jpg
Due: none

chore(monorepo): actualizar package-lock.json con nuevas dependencias
  package-lock.json
Due: none

feat(marketing): agregar la funcionalidad de ver demo en el home y auto scroll en - area servicio
  apps/website-erp-marketing/src/App.tsx
  apps/website-erp-marketing/src/components/common/Input.css
  apps/website-erp-marketing/src/components/common/Input.tsx
  apps/website-erp-marketing/src/components/layout/BannerSection.tsx
  apps/website-erp-marketing/src/components/layout/DemoModal.css
  apps/website-erp-marketing/src/components/layout/DemoModal.tsx
  apps/website-erp-marketing/src/components/layout/Header.tsx
Due: prettier --config .prettierc --write, eslint --fix

style(marketing): solucionando conflicto
  apps/website-erp-marketing/src/components/layout/ContactSection.tsx
  apps/website-erp-marketing/src/components/layout/TrustSection.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(marketing): TrustSection responsive y equipo de desarrollo con imagen
  apps/website-erp-marketing/src/assets/images/equipodesarrollo.jpg
  apps/website-erp-marketing/src/components/layout/TrustSection.css
Due: prettier --config .prettierc --write

feat(corporate): agregando nuevo logo
  apps/website-corporate/index.html
  apps/website-corporate/public/logo.png
  apps/website-corporate/public/vite.svg
Due: none

style(components): haciendo que sea responsive la parte de BrandTrust
  apps/website-erp-marketing/src/components/layout/TrustSection.css
Due: prettier --config .prettierc --write

refactor(marketing): reorganización de estructura y creación de nuevos componentes
  apps/website-erp-marketing/src/components/layout/TrustSection.css
  apps/website-erp-marketing/src/components/layout/TrustSection.tsx
  apps/website-erp-marketing/src/pages/HomePage.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(corporate): agregando logo
  apps/website-corporate/public/logo_blanco.png
  apps/website-corporate/src/components/Layout/Footer/index.tsx
  apps/website-corporate/src/components/Layout/Header/index.tsx
Due: prettier --config .prettierc --write, eslint --fix

style(marketing): arreglando que la imagen sea responsive
  apps/website-erp-marketing/src/components/layout/TrustSection.css
  apps/website-erp-marketing/src/components/layout/TrustSection.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(corporate): agregando imagenes
  apps/website-corporate/public/images/team-photos/adalid.jpg
  apps/website-corporate/public/images/team-photos/angel.jpg
  apps/website-corporate/public/images/team-photos/edison.jpg
  apps/website-corporate/public/images/team-photos/izai.jpg
  apps/website-corporate/public/images/team-photos/jesus.jpg
  apps/website-corporate/src/pages/Home/index.tsx
  apps/website-corporate/src/types/index.ts
Due: prettier --config .prettierc --write, eslint --fix

fix(corporate): solucionando problemas con los estilos
  apps/website-corporate/src/pages/WhyChooseUs/WhyChooseUs.module.css
Due: prettier --config .prettierc --write

style(marketing): mejora en el estilo de login y register en mobile
  apps/website-erp-marketing/src/pages/LoginPage.css
  apps/website-erp-marketing/src/pages/RegisterPage.css
  apps/website-erp-marketing/vite.config.ts
Due: prettier --config .prettierc --write, eslint --fix

feat(marketing): agrega ver más/ver menos en preguntas frecuentes y testimonios, y mejora textos
  apps/website-erp-marketing/src/components/layout/CommentSection.tsx
  apps/website-erp-marketing/src/components/layout/ContactSection.tsx
  apps/website-erp-marketing/src/components/layout/FrequentQuestions.tsx
Due: prettier --config .prettierc --write, eslint --fix

feat(styles): mejora visual del menú móvil y avatar usando theme.css
  apps/website-erp-marketing/src/components/layout/MobileMenu.css
Due: prettier --config .prettierc --write

style(marketing): mejora de estilo en el contactanos de website-erp
  apps/website-erp-marketing/src/pages/ContactPage.css
  apps/website-erp-marketing/src/pages/ContactPage.tsx
Due: prettier --config .prettierc --write, eslint --fix

Feature/website erp (#12)
  apps/website-erp-marketing/src/App.tsx
  apps/website-erp-marketing/src/assets/images/equipodesarrollo.jpg
  apps/website-erp-marketing/src/components/common/Input.css
  apps/website-erp-marketing/src/components/common/Input.tsx
  apps/website-erp-marketing/src/components/layout/BannerSection.tsx
  apps/website-erp-marketing/src/components/layout/CommentSection.tsx
  apps/website-erp-marketing/src/components/layout/ContactSection.tsx
  apps/website-erp-marketing/src/components/layout/DemoModal.css
  apps/website-erp-marketing/src/components/layout/DemoModal.tsx
  apps/website-erp-marketing/src/components/layout/FrequentQuestions.tsx
  apps/website-erp-marketing/src/components/layout/Header.tsx
  apps/website-erp-marketing/src/components/layout/MobileMenu.css
  apps/website-erp-marketing/src/components/layout/PlatformFeatures.tsx
  apps/website-erp-marketing/src/components/layout/TrustSection.css
  apps/website-erp-marketing/src/components/layout/TrustSection.tsx
  apps/website-erp-marketing/src/pages/ContactPage.css
  apps/website-erp-marketing/src/pages/ContactPage.tsx
  apps/website-erp-marketing/src/pages/HomePage.tsx
  apps/website-erp-marketing/src/pages/LoginPage.css
  apps/website-erp-marketing/src/pages/RegisterPage.css
  apps/website-erp-marketing/vite.config.ts
  package-lock.json
Due: prettier --config .prettierc --write, eslint --fix

feat(config): configuracion para desplegarlo en vercel
  DEPLOYMENT.md
  apps/website-erp-marketing/src/components/layout/TrustSection.tsx
  apps/website-erp-marketing/vercel.json
  vercel.json
Due: prettier --config .prettierc --write, eslint --fix

fix: eliminar imports innecesarios de React para solucionar errores de TypeScript en build
  apps/website-erp-marketing/src/components/common/TermsSubSection.tsx
  apps/website-erp-marketing/src/components/common/TermsTitle.tsx
  apps/website-erp-marketing/src/components/layout/CommentSection.tsx
  apps/website-erp-marketing/src/components/layout/PrivacyContent.tsx
  apps/website-erp-marketing/src/components/layout/TermsContent.tsx
  apps/website-erp-marketing/src/pages/PrivacyPage.tsx
  apps/website-erp-marketing/src/pages/TermsPage.tsx
Due: prettier --config .prettierc --write, eslint --fix

fix(context): remover import directo de React en UserContext
  apps/website-erp-marketing/src/context/UserContext.tsx
Due: prettier --config .prettierc --write, eslint --fix

fix(config): excluir archivos .vite del linting y tracking
  .lintstagedrc.json
  apps/website-corporate/.gitignore
  apps/website-corporate/src/pages/Services/index.tsx
Due: prettier --config .prettierc --write, eslint --fix

fix(auth): mejorar configuración Firebase con fallbacks y debugging
  apps/website-erp-marketing/src/configs/firebaseConfig.ts
  apps/website-erp-marketing/src/utils/firebaseDebug.ts
Due: prettier --config .prettierc --write, eslint --fix

feat(context, components, assets): avatar por defecto en header para usuarios sin foto
  apps/website-erp-marketing/src/assets/images/avatarlogin.png
  apps/website-erp-marketing/src/components/layout/Header.tsx
  apps/website-erp-marketing/src/configs/firebaseConfig.ts
  apps/website-erp-marketing/src/context/UserContext.tsx
  apps/website-erp-marketing/src/pages/LoginPage.tsx
  apps/website-erp-marketing/src/pages/RegisterPage.tsx
  apps/website-erp-marketing/src/services/auth/registerService.ts
  pnpm-lock.yaml
Due: prettier --config .prettierc --write, eslint --fix

fix(auth): mejorar manejo de errores y debugging de Firebase
  apps/website-erp-marketing/src/configs/firebaseConfig.ts
Due: prettier --config .prettierc --write, eslint --fix

fix(ui): navegación de login/register en misma pestaña sin header
  apps/website-erp-marketing/src/components/layout/Header.tsx
Due: prettier --config .prettierc --write, eslint --fix

fix(auth): agregar tipos explícitos para Firebase auth
  apps/website-erp-marketing/src/configs/firebaseConfig.ts
Due: prettier --config .prettierc --write, eslint --fix

Path conditions:
  prettier --config .prettierc --write: (((any of: apps/**/*.{js,jsx,ts,tsx}) or (any of: apps/**/*.{json,css})) or (any of: *.{md,yaml,yml})) or (any of: docs/**/*.md)
  eslint --fix: any of: apps/**/*.{js,jsx,ts,tsx}
